@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject UserManager<User> userManager
@inject IPostService postService
@{
    var user = await userManager.FindByNameAsync(User.Identity.Name);

    var posts = postService.GetAll()
        .GetAwaiter().GetResult()
        .Where(x => x.UserId == user.Id)
        .OrderByDescending(x => x.PostDate)
        .ToList();
}

<style>
    .card:hover {
        border-bottom: solid 3px #6a4dcb;
    }

    label {
        background-color: #6a4dcb;
        color: white;
        border-radius: 15px;
        padding: 0px 6px;
    }
</style>

<div class="container mt-5 mb-5">
    <div class="mt-5 mb-5">
        <h2>Мои посты</h2>
        <br />
        <a href="/Post/Create" class="btn-custom btn-primary">Написать пост</a>
    </div>
    <hr />
    @if (posts.Count != 0)
    {
        <div id="list" class="mt-4">

        </div>

        <div class="mt-3 mb-3">
            <div style="text-align:center;">
                <input type="button" class="btn btn-dark btn-lg" id="first" onclick="firstPage()" value="Начало" />
                <input type="button" class="btn btn-dark btn-lg" id="previous" onclick="previousPage()" value="Предыдущая" />
                <input type="button" class="btn btn-dark btn-lg" id="next" onclick="nextPage()" value="Следующая" />
                <input type="button" class="btn btn-dark btn-lg" id="last" onclick="lastPage()" value="Конец" />
            </div>
        </div>
    }
    else
    {
        <p style="font-size: 25px;">Пока у вас нет постов...</p>
    }
</div>

<script>
    var list = @Html.Raw(Json.Serialize(posts));
    var pageList = new Array();
    var currentPage = 1;
    var numberPerPage = 5;
    var numberOfPages = 0;

    function makeList() {
        numberOfPages = getNumberOfPages();
    }

    function getNumberOfPages() {
        return Math.ceil(@posts.Count / numberPerPage);
    }

    function nextPage() {
        currentPage += 1;
        loadList();
    }

    function previousPage() {
        currentPage -= 1;
        loadList();
    }

    function firstPage() {
        currentPage = 1;
        loadList();
    }

    function lastPage() {
        currentPage = numberOfPages;
        loadList();
    }

    function loadList() {
        var begin = ((currentPage - 1) * numberPerPage);
        var end = begin + numberPerPage;

        pageList = list.slice(begin, end);
        drawList();
        check();
    }

    function drawList() {
        document.getElementById("list").innerHTML = "";
        for (r = 0; r < pageList.length; r++) {
            console.log(pageList[r]);
            let date = new Date(pageList[r].postDate);
            var card =
                "<div class='card w-100 mt-3 mb-3 shadow'>" +
                "<div class='modal-header' style='background: none;'>" +
                "<a href='/Post/Delete?postId=" + pageList[r].postId + "' class='close' data-dismiss='modal' aria-label='Close'>" +
                    "<span aria-hidden='true'>&times;</span>" +
                "</a>" +
            "</div>" +
                    "<div class='card-body'>" +
                        "<h5 class='card-title'>" +
                        "<a href='/Post/Detail?postId=" + pageList[r].postId +"' style='text-decoration: none;'>" + pageList[r].title + "</a></h5>" +
                        "<p class='card-text'>" + pageList[r].message + "</p>" +
                        "<footer class='blockquote-footer'>" + pageList[r].tags.toString().substring(0, pageList[r].tags.toString().length - 1) + "</footer>" +
                        "<div class='form-inline mt-3'>" +
                            "<label class='ml-2 mr-2'><b>" + date.toLocaleDateString() + "</b></label>" +
                            "<label class='ml-2 mr-2'><b>" + pageList[r].countWatch + " просмотров</b></label>" +
                        "</div>" +
                    "</div>" +
                "</div>";

            document.getElementById("list").innerHTML += card;
        }
    }

    function check() {
        document.getElementById("next").disabled = currentPage == numberOfPages ? true : false;
        document.getElementById("previous").disabled = currentPage == 1 ? true : false;
        document.getElementById("first").disabled = currentPage == 1 ? true : false;
        document.getElementById("last").disabled = currentPage == numberOfPages ? true : false;
    }

    function load() {
        makeList();
        loadList();
    }

    window.onload = load;
</script>

