@{
    ViewData["Title"] = "Lanugage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@inject ILanguageService languageService
@{
    var languages = languageService.GetAll()
        .GetAwaiter().GetResult()
        .OrderByDescending(x => x.LanguageId)
        .ToList();
}

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div>
                <h1>Языки программирования</h1>
                <br />
                <a class="btn btn-success" href="/Admin/CreateLanguage">Создать</a>
                <hr />
            </div>
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        @foreach (LanguageVM language in languages)
                        {
                            <div class="col-md-4">
                                <div class="card card-widget">
                                    <div class="card-header">
                                        <div class="user-block">
                                            <h5>@language.Name</h5>
                                        </div>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <ion-icon name="remove-circle-outline" class="fas"></ion-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <img src="@Url.Content(language.Avatar)"  width="450" height="300"/>
                                        <br />
                                        @if (language.IsEnable)
                                        {
                                            <span>Видимость</span> <input type="checkbox" disabled checked class="ml-3" />
                                        }
                                        else
                                        {
                                            <span>Видимость</span> <input type="checkbox" disabled class="ml-3" />
                                        }
                                    </div>
                                    <div class="card-footer">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-4 ">
                                                    <a href="/Admin/EditLanguage?languageId=@language.LanguageId" class="btn btn-block btn-info">Изменить</a>
                                                </div>
                                                <div class="col-4 ">
                                                    <a href="/Admin/DeleteLanguage?languageId=@language.LanguageId" class="btn btn-block btn-danger">Удалить</a>
                                                </div>
                                                <div class="col-4 ">
                                                    <a href="/Admin/DetailLanguage?languageId=@language.LanguageId" class="btn btn-block btn-warning">Детали</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>

